<!-- Latest compiled and minified CSS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style>
	
</style>
<% for a in (0..10) %>

	<% if a % 2 == 0%>
		<%= a%>
	<% end %>

<% end %>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Jonathan</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hi</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">At</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">You</a></li>
  </ul>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-6">
			<h2>Hi <%= @var%></h2>
			<a href="https://www.reddit.com/">Hi</a>
			<p>asdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asd</p>
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfads
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<h2>Hi <%= @var%></h2>
			<a href="https://www.reddit.com/">Hi</a>
			<p>asdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asdasdf asdf as dfa sdf as df as f as df as df asd</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">

		</div>
	</div>
</div>