<%= erb :include %>
<style>
    td:hover {
        background-color: #FFFF99;
    }
    .cellClick {
        background: rgb(100,200,300);
    }
    .cellClick:hover {
        background:  rgb(100,200,300);
    }
    .tblCell {
        max-height: 200px;
        min-height: 100px;
        max-width: 100px;
    }

    
</style>

<div class="container">
	<div class="row">
        <h1>Scheduler Home</h1>
        <div class="col-md-10">
            <div id="theTable">
            </div>
        </div>
	</div>
</div>
<script type="text/javascript">

var rows = 5; //here's your number of rows and columns
var cols = 5;
var table = $('<table class="table table-bordered">');
var head = $('<thead>');
var tr1 = $('<tr>');
for (var col = 0; col < cols; col++)
{
    if(col == 0)
    {
        $('<td><div class="tblCell">Time</div></td>').appendTo(tr1);
    }
    else
    {
        $('<td><div class="tblCell">'+col+'</div></td>').appendTo(tr1);
    }
}
tr1.appendTo(head);
head.appendTo(table);
var body = $('<tbody>');
for(var r = 0; r < rows; r++)
{
    var tr = $('<tr>');
    for (var c = 0; c < cols; c++)
    {
        if(c==0)
        {
            $('<td><div class="tblCell">'+r+'</div></td>').appendTo(tr);
        }
        else
        {
            $('<td><div class="tblCell">some value</div></td>').appendTo(tr); //fill in your cells with something meaningful here
        }
        
    }
    tr.appendTo(body);
}
body.appendTo(table)
table.appendTo('#theTable');
var old;
var exists = false;
$( function() {
  $('td').click( function() {
        if (!exists)
        {
            exists = true
        }
        else
        {
            old.removeClass("cellClick");
        }
        $(this).toggleClass("cellClick");
        old = $(this);
        text = old.text()
        $.post("/classmover",
        {
          name:text,
          city:"Duckburg"
        },
        function(data,status){
          alert("Data: " + data + "\nStatus: " + status);
        });
  } );
} );


</script>