<%= erb :include %>
<style>
  body {
    background-image: url('../manmade-waterfall.jpg');
  }
  form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 450px;
  }
  label {
    color: white;
  }
</style>

<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
</form>